## [Start] Setting "likes" to default value of "0". **
$util.qr($context.args.input.put("likes", $util.defaultIfNull($ctx.args.input.likes, 0)))
## [End] Setting "likes" to default value of "0". **
{}